.token-color {
  width: var(--space-6x);
  height: var(--space-6x);
}

.token-spacing {
  background: var(--code-snippet);
}

.token-border {
  width: var(--space-6x);
  height: var(--space-6x);
  border-radius: var(--border-radius-sm);
  border: var(--border-width-sm) solid var(--border-color-assertive);
}

[class*='breakpoint'] {
  height: var(--space-6x);
  border-radius: var(--border-radius-sm);
  border: var(--space-xs) solid var(--border-color-assertive);
}

.breakpoint-sm-min {
  width: var(--space-6x);
}

.breakpoint-md-min {
  width: var(--space-8x);
}

.breakpoint-lg-min {
  width: var(--space-12x);
}

.breakpoint-xl-min {
  width: var(--space-15x);
}

.breakpoint-xxl-min {
  width: calc(var(--space-15x) + var(--space-2x));
}
