.token-color {
  width: 50px;
  height: 50px;
}

.token-spacing {
  background: var(--code-snippet);
}

.token-border {
  width: 50px;
  height: 50px;
  border: var(--border-width-sm) solid var(--border-color-assertive);
}

.breakpoint-sm-min {
  /* stylelint-disable-next-line function-url-scheme-disallowed-list */
  background: url('https://images.ctfassets.net/ly1cjdv8rvqt/2oSuasGICyKcgoCe5gFXjX/addaabfdeae93a87ba7208b87e121c02/breakpoint-sm.svg');
}
