// Utility Nav
.bsds-nav-utility {
  display: none;
  border-bottom: var(--border-width-xxs) solid var(--border-color-subtle);

  .bsds-nav-utility-container {
    display: contents;
  }

  .bsds-nav {
    justify-content: flex-end;

    .bsds-nav-item {
      margin-top: 0;

      .bsds-nav-link {
        border: 0;
        padding: var(--space-md) var(--space-lg);
        color: var(--text-color-subtle);

        &:hover {
          color: var(--text-color-primary);
        }
      }

      .bsds-dropdown {
        .bsds-dropdown-trigger {
          display: inline-flex;
          padding: var(--space-md) var(--space-lg);
          padding-right: calc(var(--space-md) + var(--icon-size-sm) + var(--space-lg));

          &::after {
            right: var(--space-lg);
            width: var(--icon-size-sm);
            height: var(--icon-size-sm);
            background: var(--text-color-subtle);
          }

          &[aria-expanded='true'],
          &:hover,
          &:active {
            background: transparent;
            color: var(--text-color-primary);
            text-decoration: underline;

            &::after {
              background: var(--text-color-primary);
            }
          }
        }
      }
    }
  }

  .bsds-nav-logo-secondary {
    width: auto;
    max-height: var(--space-4x);
    margin: var(--space-md) var(--space-3x);
  }
}

@media (min-width: $breakpoint-lg-min) {
  .bsds-nav-utility {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .bsds-nav {
      .bsds-nav-link {
        font-size: var(--fs-body-subtle);
      }
    }
  }
}
