// NOTE: if we update button/link mixins, we'll also need to modify button-link and link-button overrides in _button.scss and _link.scss

@mixin button-hover {
  &:not([disabled]) {
    &:hover {
      border-color: transparent;
      background: var(--action-primary-20);
      color: var(--text-color-inverse);
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@mixin button-active {
  &:not([disabled]) {
    border-color: transparent;
    background: var(--action-primary-20);
    color: var(--text-color-inverse);
  }
}

@mixin button-focus {
  &:not([disabled]) {
    &:focus {
      @include focus-default;
    }
  }
}

@mixin button-disabled {
  &[disabled] {
    border-color: var(--border-color-subtle);
    background: var(--neutral-95);
    color: var(--text-color-subtle);
    @include font-family-base-regular;
    cursor: not-allowed;
  }
}

@mixin button-base {
  @include bsds-standards;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border-width: var(--border-width-xs);
  border-style: solid;
  padding: var(--space-lg) var(--space-3x) 0.6875rem; // NOTE: this is a one-off size because var(--space-lg) - var(--space-xxs) was rounding up
  font-size: var(--ffs-body-assertive);
  line-height: inherit;
  text-align: center;
  @include font-family-base-heavy;

  .bsds-button-child {
    flex: 1;
    text-align: left;
  }

  &:active {
    @include button-active;
  }

  @include button-hover;

  &.bsds-button-small {
    // NOTE: typically this is defined in components/buttons, but that results in a lot of repetitive code. Let's revisit if/when we explore more button sizes & consider renaming this mixin.
    @include button-small;
  }
}

@mixin button-default {
  @include button-base;
  border-color: var(--border-color-action);
  background: var(--neutral-100);
  color: var(--text-color-action);
  @include font-family-base-heavy;
  @include button-focus;
  @include button-disabled;
}

@mixin button-subtle {
  @include button-default;
  @include link-default;
  border-color: transparent;
  padding: var(--space-lg) var(--space-3x) 0.6875rem;
  background: transparent;
  text-decoration: none;
  @include button-focus;
  @include button-disabled;

  &:not([disabled]) {
    &:disabled {
      border: 0;
      background: transparent;
    }

    &:hover {
      @include link-hover;
      color: var(--text-color-inverse);
    }
  }
}

@mixin button-assertive {
  @include button-base;
  border-color: transparent;
  background: var(--action-primary-40);
  color: var(--text-color-inverse);
  @include button-focus;
  @include button-disabled;
}

@mixin button-icon {
  border-radius: var(--border-radius-circle);
  padding: calc(var(--space-2x) + var(--space-xxs));
}

@mixin button-small {
  border-width: var(--border-width-xxs);
  padding: var(--space-md) calc(var(--space-lg) + var(--space-xxs));
  font-size: var(--fs-body-subtle);
}

button {
  // Link buttons
  // This is not recommended -- we should use button styles on button elements, and link styles on link elements
  // NOTE: these will need to be updated if we modify the link mixin
  &[class*='bsds-link'] {
    border: 0;
    padding: 0;
    background: transparent;
    text-decoration: underline;

    &:not([disabled]) {
      &:hover,
      &:focus,
      &:active {
        background: transparent;
        text-decoration: underline;
      }
    }
  }

  &:not([disabled]) {
    &.bsds-link {
      &:hover,
      &:active {
        color: var(--text-color-primary);
      }
    }

    &.bsds-link-subtle {
      &:hover,
      &:active {
        color: var(--text-color-action);
      }
    }
  }
}

// Link Mixins
@mixin link-hover {
  text-decoration-thickness: var(--space-xs);
  cursor: pointer;
}

@mixin link-default {
  color: var(--text-color-action);
  @include font-family-base-heavy;
  text-decoration: underline;

  &:visited {
    color: var(--text-color-visited);
  }

  &:hover {
    color: var(--text-color-primary);
    @include link-hover;
  }

  &:active {
    color: var(--text-color-primary);
    text-decoration-thickness: var(--space-xs);
  }

  &:focus {
    @include focus-default;
  }
}

@mixin link-subtle {
  color: var(--text-color-primary);
  @include font-family-base-heavy;
  text-decoration: underline;

  &:visited {
    color: var(--text-color-visited);
  }

  &:hover {
    color: var(--text-color-action);
    @include link-hover;
  }

  &:active {
    color: var(--text-color-action);
    text-decoration-thickness: var(--space-xs);
  }

  &:focus {
    @include focus-default;
  }
}

@mixin link-navigation {
  color: var(--text-color-primary);
  @include font-family-base-regular;
  text-decoration: none;

  &:visited {
    color: var(--text-color-primary);
  }

  &:hover {
    color: var(--text-color-primary);
    text-decoration: underline;
  }

  &:active {
    color: var(--text-color-primary);
    text-decoration: underline;
  }

  &.is-active {
    @include font-family-base-heavy;
  }
}
