@mixin bsds-standards {
  color: var(--text-color-default);
  @include font-family-base-regular;
  font-size: var(--fs-body);
  line-height: 1.5;

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
}
