.bsds-h1,
.bsds-h2,
.bsds-h3,
.bsds-h4,
.bsds-h5,
.bsds-h6 {
  color: var(--text-color-primary);
  @include font-family-base-heavy;
}

.bsds-h1 {
  font-size: var(--fs-h1);
  line-height: 1.4;
}

.bsds-h2 {
  font-size: var(--fs-h2);
  line-height: 1.4;
}

.bsds-h3 {
  font-size: var(--fs-h3);
  line-height: 1.4;
}

.bsds-h4 {
  font-size: var(--fs-h4);
  line-height: 1.4;
}

.bsds-h5 {
  font-size: var(--fs-h5);
  line-height: 1.5;
}

.bsds-h6 {
  font-size: var(--fs-h6);
  line-height: 1.5;
}

.bsds-body-assertive {
  font-size: var(--fs-body-assertive);
}

.bsds-body-subtle {
  font-size: var(--fs-body-subtle);
}

.bsds-font-size-sm {
  font-size: var(--fs-small);
}

.bsds-font-weight-bold,
.bsds-font-weight-heavy {
  @include font-family-base-heavy;
}

// TODO: ADS-697 Proposed utility classes for text alignment
.bsds-text-left {
  text-align: left;
}

.bsds-text-center {
  text-align: center;
}

.bsds-text-right {
  text-align: right;
}
