.sb-show-main {
  img {
    width: 100%;
  }
}

body {
  @include bsds-defaults;
}

/* stylelint-disable selector-max-id */
#logoTagline {
  .bsc-logo {
    fill: var(--bsc-logo);
  }

  .bsc-logo-tagline {
    fill: var(--bsc-logo-tagline);
  }
}
