.bsds-button {
  @include button-default;

  &-assertive {
    @include button-assertive;
  }

  &-subtle {
    @include button-subtle;
  }

  &-ghost {
    @include button-ghost;
  }

  &-icon {
    @include button-icon;
  }

  &-text {
    @include button-subtle;
    padding: 0;

    &:not([disabled]) {
      &:hover,
      &:active {
        background: transparent;
        color: var(--action-primary-40);
        text-decoration-line: underline;
        text-decoration-thickness: var(--space-xs);
      }
    }

    &.bsds-button-small {
      padding: 0;
    }
  }

  &-active-filter {
    @include font-family-base-regular;
    border-color: var(--border-color-subtle);
    color: var(--text-color-primary);
    text-align: left;

    &:not([disabled]) {
      &:hover,
      &:active {
        border-color: var(--border-color-assertive);
        background: var(--neutral-100);
        color: var(--text-color-primary);
      }
    }
  }
}
