.bsds-callout {
  position: relative;
  margin-top: 0;
  padding-bottom: var(--space-3x);
  color: var(--text-color-default);
  font-size: var(--fs-display);
  line-height: 1.5;
  @include font-family-base-heavy;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--space-15x);
    height: var(--space-md);
    background: var(--callout-bar-color);
    content: '';
  }

  &.bsds-callout-centered {
    text-align: center;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
