:root {
  --icon-size: 1em;
}

.bsds-dropdown {
  @include bsds-defaults-type;
  position: relative;
  display: inline-block;

  .bsds-dropdown-trigger {
    padding-right: calc(var(--space-lg) + var(--icon-size) + var(--space-3x)); // gap + icon width + padding

    &.has-icon {
      padding-right: calc(var(--space-md) + var(--icon-size) + var(--space-lg)); // gap + icon width + padding
      padding-left: var(--space-lg);

      &::after {
        right: var(--space-lg);
      }
    }

    &::after {
      position: absolute;
      right: var(--space-3x);
      width: var(--icon-size);
      height: var(--icon-size);
      content: '';
      /* stylelint-disable-next-line property-no-vendor-prefix */
      -webkit-mask: url('../../assets/images/icon-chevron-down.svg') no-repeat 50% 50%;
      mask: url('../../assets/images/icon-chevron-down.svg') no-repeat 50% 50%;
      mask-size: cover;
    }

    &.bsds-button {
      &::after {
        background: var(--icon-color-action);
      }

      &[aria-expanded='true'] {
        @include button-active;
      }

      &:hover,
      &:active,
      &[aria-expanded='true'] {
        &::after {
          background: var(--surface-default);
        }
      }

      &-assertive {
        &::after {
          background: var(--surface-default);
        }

        &[aria-expanded='true'] {
          @include button-active;
        }
      }

      &-subtle {
        &::after {
          background: var(--action-default);
        }

        &[aria-expanded='true'] {
          @include button-active;
        }

        &:hover,
        &:active,
        &[aria-expanded='true'] {
          &::after {
            background: var(--surface-default);
          }
        }
      }
    }

    &[aria-expanded='true'] {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .bsds-dropdown-menu {
    position: absolute;
    z-index: 1000;
    min-width: 10rem; // NOTE: This is a one off size.
    margin: 0;
    box-shadow: var(--box-shadow-secondary);
    padding: 0;
    background: var(--surface-default);
    list-style: none;

    &.right {
      right: 0;
    }

    &.full {
      right: 0;
      left: 0;
    }

    .bsds-dropdown-item {
      margin-top: 0;
    }

    .bsds-dropdown-group-name {
      @include font-family-base-heavy;
    }

    .bsds-button,
    .bsds-link {
      @include font-family-base-regular;
    }

    .bsds-button,
    .bsds-link,
    .bsds-dropdown-group-name {
      position: relative;
      display: block;
      width: 100%;
      border: 0;
      padding: var(--space-lg) var(--space-2x);
      color: var(--text-color-primary);
      font-size: var(--fs-body);
      text-align: inherit;
      text-decoration: none;

      &:focus {
        @include focus-default-inset;

        &::before {
          position: absolute;
          top: var(--space-xs);
          right: var(--space-xs);
          bottom: var(--space-xs);
          left: var(--space-xs);
          border: var(--border-width-xs) solid var(--surface-default);
          content: '';
        }
      }
    }

    .bsds-dropdown-item-highlighted {
      border-top: var(--border-width-xxs) solid var(--border-color-subtle);
      padding: var(--space-lg) 0;

      .bsds-button,
      .bsds-link {
        color: var(--text-color-action);
        @include font-family-base-heavy;
      }
    }

    .bsds-button {
      &:hover,
      &:active {
        color: var(--text-color-inverse);
      }

      &:hover {
        background: var(--action-default);
      }

      &:active {
        background: var(--action-active);
      }
    }

    .bsds-link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
