%field-control {
  position: relative;
  width: 100%;
  margin-top: var(--field-control-margin-top);
  border: var(--border-width-xxs) solid var(--border-color-assertive);
  padding: var(--space-lg) var(--space-2x);
  background: var(--surface-default);
  color: var(--text-color-default);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  &::placeholder {
    color: var(--text-color-subtle);
  }

  &:focus {
    @include focus-default;
  }

  &:disabled {
    border-color: var(--border-color-subtle);
    background: var(--surface-subtle);

    &:hover {
      cursor: not-allowed;
    }
  }

  &:not(:disabled) {
    &[aria-invalid='true'] {
      &:focus {
        @include focus-error;
      }
    }
  }
}

.bsds-form {
  width: 100%;
}

.bsds-fieldset {
  @include bsds-defaults-type;
  display: flex;
  flex-direction: column;
  margin-inline: 0;
  border: 0;
  padding-right: 0;
  padding-left: 0;
  padding-block: 0;
  padding-inline: 0;

  &:first-child {
    .bsds-form-control {
      margin-top: var(--space-2x);
    }
  }
}

.bsds-legend {
  @include font-family-base-heavy;
  padding-inline: 0;
  font-size: var(--fs-body);
}

.bsds-field {
  @include bsds-defaults;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bsds-field,
.bsds-fieldset {
  .bsds-field-label {
    width: 100%;
  }

  .bsds-field-label-text {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .bsds-field-error {
    display: flex;
    align-items: center;
    margin: var(--space-md) 0 0 0;
    color: var(--text-color-error);

    &::before {
      display: inline-block;
      flex-shrink: 0;
      align-self: flex-start;
      width: var(--space-3x);
      height: var(--space-3x);
      margin-right: var(--space-md);
      mask-image: url('../../assets/images/icon-error.svg');
      background-color: var(--icon-color-error);
      content: '';
    }
  }

  .bsds-field-help-text {
    margin: var(--space-sm) 0 0 0;
    color: var(--text-color-subtle);
    font-size: var(--fs-body-subtle);
  }

  .bsds-field-required-text {
    @extend .bsds-field-help-text;
  }
}

// TODO: ADS-334 Should we have spacing here? If not, can we get rid of class bsds-margin-top-remove?
.bsds-form-control {
  margin-top: var(--space-3x);

  .bsds-fieldset {
    margin-top: var(--space-4x);
  }
}

@media (min-width: $breakpoint-lg-min) {
  .bsds-field-error {
    &::before {
      transform: translateY(var(--space-xs));
    }
  }
}
