.bsds-image {
  display: block;
  margin-top: 0;
  object-fit: cover;
  object-position: top center;

  &-1to1 {
    @extend .bsds-image;
    aspect-ratio: 1/1;
  }

  &-4to3 {
    @extend .bsds-image;
    aspect-ratio: 4/3;
  }

  &-16to9 {
    @extend .bsds-image;
    aspect-ratio: 16/9;
  }

  &-21to9 {
    @extend .bsds-image;
    aspect-ratio: 21/9;
  }

  &-50-split {
    @extend .bsds-image;
    height: 0;
    min-height: 100%;
    object-position: center center;
    overflow: hidden;
  }
}

.bsds-image-caption {
  margin-top: var(--space-md);
  color: var(--text-color-primary);
  font-size: var(--fs-small);

  &-center {
    @extend .bsds-image-caption;
    text-align: center;
  }
}

.bsds-decorative-treatment {
  position: relative;

  &::before {
    position: absolute;
    top: var(--space-6x);
    right: var(--space-6x);
    bottom: 0;
    left: 0;
    background: var(--gradient-accent);
    content: '';
  }

  .bsds-image {
    position: relative;
    padding: 0 0 var(--space-2x) var(--space-2x);
  }

  .bsds-image-caption {
    position: absolute;
    right: 0;
    bottom: var(--space-2x);
    left: var(--space-2x);
    margin: 0;
    padding: var(--space-md) var(--space-lg);
    background: var(--transparency-overlay-primary);
    color: var(--text-color-inverse);

    &-center {
      @extend .bsds-image-caption;
      text-align: center;
    }
  }
}
