:root {
  --outer-circle-diameter: var(--ffs-body-assertive);
  --inner-circle-diameter: space(md);
}

.bsds-fieldset {
  .bsds-input-radio-label {
    margin-top: space(2x);
  }
}

.bsds-input-radio {
  @include visually-hidden;
  pointer-events: none;

  + .bsds-input-radio-label {
    position: relative;
    vertical-align: middle;
    padding-left: calc(space(3x) + space(xs));
    cursor: pointer;

    &::before {
      position: absolute;
      top: calc((1.5em - var(--outer-circle-diameter)) / 2);
      left: 0;
      width: var(--outer-circle-diameter);
      height: var(--outer-circle-diameter);
      border-radius: var(--border-radius-circle);
      border: var(--border-width-xxs) solid var(--border-color-assertive);
      background: var(--neutral-100);
      content: '';
    }
  }

  [aria-invalid='true'] & {
    + .bsds-input-radio-label {
      &::before {
        border: var(--border-width-xs) solid var(--border-color-error);
        background: var(--neutral-100);
      }
    }

    &:checked,
    &[aria-checked='true'] {
      + .bsds-input-radio-label {
        &::before {
          border: transparent;
          background: var(--feedback-error-40);
        }

        &::after {
          background: var(--neutral-100);
        }
      }
    }

    /* stylelint-disable scss/selector-nest-combinators */
    &:focus,
    &:focus:checked {
      /* stylelint-enable scss/selector-nest-combinators */
      + .bsds-input-radio-label {
        &::before {
          @include focus-error;
        }
      }
    }
  }

  &:checked,
  &[aria-checked='true'] {
    + .bsds-input-radio-label {
      &::before {
        border: transparent;
        background: var(--neutral-00);
      }

      &::after {
        position: absolute;
        top: calc((1.5em - var(--outer-circle-diameter)) / 2);
        left: 0;
        width: var(--outer-circle-diameter);
        height: var(--outer-circle-diameter);
        border-radius: var(--border-radius-circle);
        background: var(--neutral-100);
        content: '';
        transform: scale(calc(var(--inner-circle-diameter) / var(--outer-circle-diameter)));
      }
    }
  }

  /* stylelint-disable scss/selector-nest-combinators */
  &:focus,
  &:focus:checked {
    /* stylelint-enable scss/selector-nest-combinators */
    + .bsds-input-radio-label {
      &::before {
        @include focus-default;
      }
    }
  }

  &:disabled {
    + .bsds-input-radio-label {
      cursor: not-allowed;

      &::before {
        opacity: 1;
        border: var(--border-width-xxs) solid var(--border-color-subtle);
        background: var(--neutral-95);
      }
    }

    &:checked,
    &[aria-checked='true'] {
      + .bsds-input-radio-label {
        &::after {
          background: var(--neutral-60);
        }
      }
    }
  }
}
