/* stylelint-disable scss/selector-nest-combinators */

@mixin hover-reset {
  &:hover {
    + .bsds-input-radio-label {
      box-shadow: none;
      border-color: transparent;
    }
  }
}

.bsds-fieldset-button-group {
  @extend .bsds-fieldset;
  flex-flow: row wrap;
  gap: 0 var(--space-lg);

  .bsds-legend {
    @include font-family-base-regular;

    ~ .bsds-field {
      width: max-content;

      .bsds-input-radio-label {
        margin-top: var(--space-lg);
      }
    }
  }

  .bsds-input-radio {
    + .bsds-input-radio-label {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      min-width: var(--space-12x);
      border-radius: var(--space-3x);
      border-width: var(--border-width-xxs);
      border-style: solid;
      border-color: inherit;
      padding: var(--space-md) var(--space-3x);
      background: var(--surface-default);
      color: var(--text-color-subtle);
      font-size: var(--ffs-body-assertive);
      line-height: inherit;
      text-align: center;
      @include font-family-base-regular;

      &::before,
      &::after {
        display: none;
      }

      &-unavailable {
        @extend .bsds-input-radio-label;
        border-style: dashed;
      }
    }

    &:not(:disabled) {
      &:hover,
      &:active {
        + .bsds-input-radio-label {
          border-color: transparent;
          background: var(--surface-assertive);
          color: var(--text-color-inverse);
          text-decoration: none;
          cursor: pointer;
        }
      }

      &:focus,
      &:focus:checked {
        + .bsds-input-radio-label {
          @include focus-default;
          box-shadow: inset 0 0 0 var(--border-width-xxs) var(--border-color-action);
        }
        @include hover-reset;
      }
    }

    &:checked,
    &[aria-checked='true'] {
      + .bsds-input-radio-label {
        box-shadow: inset 0 0 0 var(--border-width-xxs) var(--border-color-action);
        outline: none;
        border-style: solid;
        border-color: var(--border-color-action);
        color: var(--text-color-primary);
      }
      @include hover-reset;
    }

    &:disabled {
      + .bsds-input-radio-label {
        border-style: solid;
        border-color: var(--border-color-subtle);
        background: var(--surface-subtle);
        color: var(--text-color-subtle);
        cursor: not-allowed;

        &-unavailable {
          border-style: dashed;
        }
      }

      &:checked,
      &[aria-checked='true'] {
        + .bsds-input-radio-label {
          box-shadow: inset 0 0 0 var(--border-width-xxs) var(--border-color-subtle);
          border-color: var(--border-color-subtle);
        }
      }
    }
  }

  &[aria-invalid='true'] {
    .bsds-legend {
      ~ .bsds-field {
        .bsds-input-radio {
          &:not(:disabled) {
            + .bsds-input-radio-label {
              border-color: var(--border-color-error);
            }
            @include hover-reset;

            &:focus,
            &:focus:checked {
              + .bsds-input-radio-label {
                @include focus-error;
                box-shadow: inset 0 0 0 var(--border-width-xxs) var(--border-color-error);
              }
              @include hover-reset;
            }

            &:checked,
            &[aria-checked='true'] {
              + .bsds-input-radio-label {
                box-shadow: inset 0 0 0 var(--border-width-xxs) var(--border-color-error);
                border-color: var(--border-color-error);
              }
              @include hover-reset;
            }
          }
        }
      }
    }
  }

  .bsds-field-error {
    width: 100%;
  }

  .bsds-field-help-text {
    width: 100%;
    margin-top: var(--space-sm);
  }
}
