.bsds-input {
  @extend %field-control;

  &:read-only {
    background: var(--surface-subtle);

    &:hover {
      cursor: not-allowed;
    }

    &:focus {
      @include focus-readonly;
    }
  }

  &:not(:disabled) {
    &:not(:read-only) {
      &[aria-invalid='true'] {
        border-color: var(--border-color-error);

        &:hover,
        &:focus {
          border-color: var(--border-color-error);
        }
      }

      &:hover,
      &:focus {
        border-color: var(--border-color-action);
      }
    }
  }
}
