$outer-circle-diameter: var(--ffs-body-assertive);
$inner-circle-diameter: var(--space-md);

.bsds-fieldset {
  .bsds-input-radio-label {
    margin-top: var(--space-2x);
  }
}

.bsds-input-radio {
  @include visually-hidden;
  pointer-events: none;

  + .bsds-input-radio-label {
    position: relative;
    vertical-align: middle;
    padding-left: calc(var(--space-3x) + var(--space-xs));
    cursor: pointer;

    &::before {
      position: absolute;
      top: calc((1.5em - $outer-circle-diameter) / 2);
      left: 0;
      width: $outer-circle-diameter;
      height: $outer-circle-diameter;
      border-radius: var(--border-radius-circle);
      border: var(--border-width-xxs) solid var(--border-color-assertive);
      background: var(--surface-default);
      content: '';
    }
  }

  [aria-invalid='true'] & {
    + .bsds-input-radio-label {
      &::before {
        border: var(--border-width-xs) solid var(--border-color-error);
        background: var(--surface-default);
      }
    }

    &:checked,
    &[aria-checked='true'] {
      + .bsds-input-radio-label {
        &::before {
          border: transparent;
          background: var(--surface-error-assertive);
        }

        &::after {
          background: var(--surface-default);
        }
      }
    }

    /* stylelint-disable scss/selector-nest-combinators */
    &:focus,
    &:focus:checked {
      /* stylelint-enable scss/selector-nest-combinators */
      + .bsds-input-radio-label {
        &::before {
          @include focus-error;
        }
      }
    }
  }

  &:checked,
  &[aria-checked='true'] {
    + .bsds-input-radio-label {
      &::before {
        border: transparent;
        background: var(--surface-inverse);
      }

      &::after {
        position: absolute;
        top: calc((1.5em - $inner-circle-diameter) / 2);
        left: calc(($outer-circle-diameter / 2) - ($inner-circle-diameter / 2));
        width: $inner-circle-diameter;
        height: $inner-circle-diameter;
        border-radius: var(--border-radius-circle);
        background: var(--surface-default);
        content: '';
      }
    }
  }

  /* stylelint-disable scss/selector-nest-combinators */
  &:focus,
  &:focus:checked {
    /* stylelint-enable scss/selector-nest-combinators */
    + .bsds-input-radio-label {
      &::before {
        @include focus-default;
      }
    }
  }

  &:disabled {
    + .bsds-input-radio-label {
      cursor: not-allowed;

      &::before {
        opacity: 1;
        border: var(--border-width-xxs) solid var(--border-color-subtle);
        background: var(--surface-subtle);
      }
    }

    &:checked,
    &[aria-checked='true'] {
      + .bsds-input-radio-label {
        &::after {
          background: var(--icon-color-disabled);
        }
      }
    }
  }
}
