a {
  // Button links
  // This is not recommended -- we should use button styles on button elements, and link styles on link elements
  // NOTE: these will need to be updated if we modify the link mixins
  &[class*='bsds-button'] {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &.bsds-button,
  &.bsds-button-subtle {
    color: var(--text-color-action);

    &:visited {
      color: var(--text-color-action);
    }

    &:hover {
      @include button-hover;
    }
  }

  &.bsds-button-assertive {
    // TODO: Not seeing a button-color-assertive or similar token to map to here.
    // Going with --text-color-inverse for the time being.
    color: var(--text-color-inverse);

    &:visited {
      color: var(--text-color-inverse);
    }
  }
}

.bsds-link {
  @include link-default;

  &-subtle {
    @include link-subtle;
  }

  &-nav {
    @include link-navigation;
  }

  &-cta {
    @include button-default;
    text-decoration: none;

    &::after {
      width: var(--ffs-body-assertive);
      height: var(--ffs-body-assertive);
      margin-left: var(--space-md);

      // TODO: No direct mapping. Chose --action-default
      background: var(--action-default);
      content: '';
      /* stylelint-disable property-no-vendor-prefix */
      -webkit-mask: url('../../assets/images/icon-arrow-right.svg') no-repeat 50% 50%;
      mask: url('../../assets/images/icon-arrow-right.svg') no-repeat 50% 50%;
    }

    &:visited {
      color: var(--text-color-action);
    }

    &:not([disabled]) {
      &:hover,
      &:active {
        &::after {
          background: var(--surface-default);
        }
      }
    }

    &.bsds-link-mailto {
      &::after {
        -webkit-mask: url('../../assets/images/icon-envelope.svg') no-repeat 50% 50%;
        mask: url('../../assets/images/icon-envelope.svg') no-repeat 50% 50%;
      }
    }
  }
}
