.bsds-pagination {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    &.bsds-pagination-page,
    &.bsds-pagination-stepper {
      margin: 0;
    }

    &.bsds-pagination-page {
      [class*='bsds-button'],
      [class*='bsds-link'] {
        display: block;
        border: 0;
        padding: var(--space-sm) var(--space-lg);
        background: transparent;
        color: var(--text-color-primary);
        font-size: var(--fs-body);
        text-decoration: none;
        @include font-family-base-regular;

        &:hover {
          background: transparent;
          text-decoration: underline;
        }
      }

      &.bsds-pagination-page-current {
        [class*='bsds-button'],
        [class*='bsds-link'] {
          @include font-family-base-heavy;
        }
      }
    }

    .bsds-pagination-stepper-action {
      padding: var(--space-lg);
    }
  }
}
