.bsds-ribbon {
  @include bsds-defaults;
  display: flex;
  justify-content: center;
  padding: var(--space-lg) var(--space-3x);
  background-color: var(--ribbon-default-background);
  color: var(--ribbon-text); // TODO: consider updating to ribbon-text-color

  &-informational {
    background-color: var(--ribbon-info-background);
  }

  &-content {
    flex: 1;
  }

  &-shadow {
    box-shadow: var(--box-shadow-tertiary);
  }

  &.is-constrained {
    .bsds-ribbon-content {
      max-width: var(--app-width);
    }
  }

  @media (min-width: $breakpoint-md-min) {
    padding: var(--space-3x);
  }
}
