// TODO: ADS-697 Proposed addition to anatomy-tokens/src/sass/mixins/space.scss
@mixin padding-x($space) {
  padding-right: $space;
  padding-left: $space;
}
@mixin padding-y($space) {
  padding-top: $space;
  padding-bottom: $space;
}
@mixin padding($space) {
  @include padding-x($space);
  @include padding-y($space);
}

$base: '.bsds-ribbon';

#{$base} {
  @include bsds-defaults;
  display: flex;
  justify-content: center;
  background-color: var(--neutral-95);

  @include padding-x(3x);
  @include padding-y(lg);

  @media (min-width: $breakpoint-md-min) {
    @include padding(3x);
  }

  &-informational {
    background-color: var(--action-primary-97);
  }

  &-content {
    flex: 1;
  }

  &-shadow {
    box-shadow: var(--box-shadow-tertiary);
  }

  &.is-constrained {
    #{$base}-content {
      max-width: var(--app-width);
    }
  }
}
