[class*='bsds-stoplight'] {
  @include bsds-defaults-type;
  display: flex;
  align-items: center;

  &::before {
    display: inline-block;
    flex-shrink: 0;
    align-self: flex-start;
    width: var(--space-3x);
    height: var(--space-3x);
    margin-right: var(--space-md);
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
  }

  &.bsds-body-subtle {
    &::before {
      width: var(--space-2x);
      height: var(--space-2x);
      transform: translateY(var(--space-negative-xxs));
    }
  }
}

.bsds-stoplight {
  &-red {
    &::before {
      // TODO: dark mode should map to url('../../assets/images/icon-stoplight-red-inverse.svg');
      background-image: url('../../assets/images/icon-stoplight-red.svg');
    }
  }

  &-yellow {
    &::before {
      background-image: url('../../assets/images/icon-stoplight-yellow.svg');
    }
  }

  &-green {
    &::before {
      background-image: url('../../assets/images/icon-stoplight-green.svg');
    }
  }
}
