[class*='bsds-stoplight'] {
  @include bsds-defaults-type;
  display: flex;
  align-items: center;

  &::before {
    display: inline-block;
    flex-shrink: 0;
    align-self: flex-start;
    width: var(--space-3x);
    height: var(--space-3x);
    margin-right: var(--space-md);
    content: '';
  }

  &.bsds-body-subtle {
    &::before {
      width: var(--space-2x);
      height: var(--space-2x);
      transform: translateY(var(--space-negative-xxs));
    }
  }
}

.bsds-stoplight {
  // TODO: Rename to -error
  &-red {
    &::before {
      mask-image: url('../../assets/images/icon-stoplight-red.svg');
      background-color: var(--icon-color-error);
    }
  }

  // TODO: Rename to -warning
  &-yellow {
    &::before {
      mask-image: url('../../assets/images/icon-stoplight-yellow.svg');
      background-color: var(--icon-color-warning);
    }
  }

  // TODO: Rename to -success
  &-green {
    &::before {
      mask-image: url('../../assets/images/icon-stoplight-green.svg');
      background-color: var(--icon-color-success);
    }
  }
}
