@mixin tag-default {
  display: block;
  color: var(--text-color-primary);
  font-size: var(--fs-small);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-increase);
  @include font-family-base-heavy;
}

@mixin tag-assertive {
  @include tag-default;
  display: inline;
  padding: var(--space-md) var(--space-lg);
  box-decoration-break: clone;
}

@mixin tag-accent {
  @include tag-default;
  border-width: 0 0 0 var(--border-width-sm);
  border-style: solid;
  padding: var(--space-xs) 0 var(--space-xs) var(--space-md);
}

.bsds-tag {
  @include bsds-defaults-type;
  @include tag-default;

  &-accent {
    @include tag-accent;
    border-image-source: var(--gradient-tag);
    border-image-slice: 1;
  }

  &-assertive {
    @include tag-assertive;
    background: var(--surface-assertive);
    color: var(--text-color-inverse);
  }

  &-featured {
    @include tag-assertive;
    background: var(--accent-featured-tag);
    color: var(--text-color-inverse);
  }

  &-subtle {
    @include tag-assertive;
    @include font-family-base-regular;
    padding: var(--space-sm) var(--space-md);
    background: var(--surface-subtle);
    text-transform: none;
    letter-spacing: unset;
  }
}
