// TODO: --tag-featured-background should map to --accent-primary-80 in dark mode

@mixin tag-default {
  display: block;
  color: var(--tag-default-text);
  font-size: var(--fs-small);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-increase);
  @include font-family-base-heavy;
}

@mixin tag-assertive {
  @include tag-default;
  display: inline;
  padding: var(--space-md) var(--space-lg);
  box-decoration-break: clone;
}

@mixin tag-accent {
  @include tag-default;
  border-width: 0 0 0 var(--border-width-sm);
  border-style: solid;
  padding: var(--space-xs) 0 var(--space-xs) var(--space-md);
}

.bsds-tag {
  @include bsds-defaults-type;
  @include tag-default;

  &-accent {
    @include tag-accent;
    border-image-source: linear-gradient(
      180deg,
      var(--gradient-accent-stop-2),
      var(--gradient-accent-stop-1)
    ); // NOTE: accent gradient with different angle for tag;
    border-image-slice: 1;
  }

  &-assertive {
    @include tag-assertive;
    background: var(--tag-assertive-background);
    color: var(--tag-assertive-text);
  }

  &-featured {
    @include tag-assertive;
    background: var(--tag-featured-background);
    color: var(--tag-featured-text);
  }

  &-subtle {
    @include tag-assertive;
    @include font-family-base-regular;
    padding: var(--space-sm) var(--space-md);
    background: var(--tag-subtle-background);
    text-transform: none;
    letter-spacing: unset;
  }
}
