.bsds-textarea {
  @extend %field-control;
  min-height: var(--space-12x);
  max-width: 100%;

  &:hover,
  &:active {
    &:not(:read-only) {
      border-color: var(--border-color-action);
    }
  }

  &:read-only {
    background: var(--surface-subtle);

    &:hover {
      cursor: not-allowed;
    }

    &:focus {
      @include focus-readonly;
    }
  }

  &:not(:disabled),
  &:not(:read-only) {
    &[aria-invalid='true'] {
      border-color: var(--border-color-error);
    }
  }

  &-autoresize {
    @extend .bsds-textarea;
    resize: none;
  }
}
