:root {
  // Text utility variables

  --text-color-primary: var(--neutral-00);
  --text-color-subtle: var(--neutral-40);
  --text-color-disabled: var(--neutral-60);
  --text-color-ghost: var(--neutral-100);
  --text-color-action: var(--action-primary-40);

  // Icon utility variables

  --icon-size-sm: space(lg);

  // Form utility variables

  --field-control-margin-top: space(md);
}
