:root {
  --fs-h1: 2.101rem;
  --fs-h2: 1.811rem;
  --fs-h3: 1.561rem;
  --fs-h4: 1.346rem;
  --fs-h5: 1.16rem;
  --fs-h6: 1rem;
  --fs-body: 1rem;
  --fs-body-assertive: 1.16rem;
  --fs-body-subtle: 0.906rem;
  --fs-body-small: 0.75rem;
  --fs-display: 2.436rem;

  // Fixed font size variables
  // These exist to set a fixed font-size inside components (e.g.: buttons) across breakpoints so the component maintains the same height across breakpoints
  --ffs-body-assertive: 1.125rem; // NOTE: this is a one-off size

  @media (min-width: $breakpoint-lg-min) {
    --fs-h1: 2.574rem;
    --fs-h2: 2.181rem;
    --fs-h3: 1.848rem;
    --fs-h4: 1.5666rem;
    --fs-h5: 1.328rem;
    --fs-h6: 1.125rem;
    --fs-body: 1.125rem;
    --fs-body-assertive: 1.328rem;
    --fs-display: 3.036rem;
  }
}
