:root {
  // Text utility variables
  --text-color-ghost: var(--neutral-100);

  // Icon utility variables
  --icon-size-sm: var(--space-lg);

  // Form utility variables
  --field-control-margin-top: var(--space-md);
}
