:root {
  // Icon utility variables
  --icon-size-sm: var(--space-lg);

  // Form utility variables
  --field-control-margin-top: var(--space-md);

  // NOTE: this is a one-off size
  --ffs-body-assertive: 1.125rem;
}
